<div class="row">
  <div class="col-md-6">
    <h3>Tuesday 5th</h3>
    <table class="table table-striped">
      <tr> <td>14:00-17:00</td>  <td><a href="{{ site.intro_python_site }}" target="_blank" rel="noopener noreferrer">Introduction to Python</a></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wednesday 6th</h3>
    <table class="table table-striped">
      <tr> <td>09:00-12:30</td>  <td><a href="{{ site.intro_python_site }}" target="_blank" rel="noopener noreferrer">Introduction to Python (Continued)</a></td> </tr>
      <tr> <td>12:30-14:00</td>  <td>Lunch break; supervisor meetings where necessary</td> </tr>
      <tr> <td>14:00-17:00</td>  <td><a href="{{ site.oop_lesson_site }}" target="_blank" rel="noopener noreferrer">Introduction to Object Oriented Programming</a></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Thursday 7th</h3>
    <table class="table table-striped">
      <tr> <td>09:00-12:30</td>  <td><a href="{{ site.snake_repo_site }}" target="_blank" rel="noopener noreferrer">Code up your own game of Snake!</a></td> </tr>
      <tr> <td>12:30-14:00</td>  <td>Lunch break; supervisor meetings where necessary</td> </tr>
      <tr> <td>14:00-17:00</td>  <td><a href="{{ site.snake_repo_site }}" target="_blank" rel="noopener noreferrer">Code up your own game of Snake! (Continued)</a></td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Friday 8th</h3>
    <table class="table table-striped">
      <tr> <td>09:00-10:45</td>  <td><a href="{{ site.python_packaging_site }}" target="_blank" rel="noopener noreferrer">Python packaging basics</a> (<a href="{{ site.python_packaging_archive }}" target="_blank" rel="noopener noreferrer">course files</a>)</td> </tr>
      <tr> <td>10:45-12:30</td>  <td><a href="{{ site.code_quality_repo_site }}" target="_blank" rel="noopener noreferrer">Writing quality code</a></td> </tr>
      <tr> <td>12:30-14:00</td>  <td>Lunch break; supervisor meetings where necessary</td> </tr>
      <tr> <td>14:00-17:00</td>  <td><a href="{{ site.grammar_of_graphics_course }}">Introduction to the Grammar of Graphics</a></td> </tr>
    </table>
  </div>
</div>
